/***************************************************/
/****************genaral css **********************/
/*************************************************/
body {
  font-family: 'Open Sans', sans-serif;
  color:black;
  font-weight: 400;
  background: #bcc7e9;
  background-repeat: no-repeat;   
}
a {
    color: #FF6F61;
}
a:hover,
a:active,
a:focus {
    color: #63d2f3;
    outline: none;
    text-decoration: none;
}
h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}
@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}
/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #FF6F61;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}
.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}
/**********************************/
/*********** Header CSS ***********/
/**********************************/
.heading{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 750px;
    margin-bottom: 2px;
    padding-bottom: 70px;
    flex-direction: column;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
  
}
.header {
    position: relative;
}
.header .col-md-3,
.header .col-md-6 {
    margin-bottom: 30px;
}
.header .navbar {
    padding: 0;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff !important;
}
.header .navbar-nav {
    width: 100%;
    padding: 15px 0;
}
.header .navbar li {
    padding: 0 30px;
    border-bottom: 1px solid #f3f6ff;
}
.header .navbar li:last-child {
    border-bottom: none;
}
.header .navbar a {
    color: #353535;
}
.header .navbar a:hover {
    color: #4fddf0b3;
}
.header .navbar i {
    color: #4fddf0b3;
    width: 20px;
    text-align: center;
    margin-right: 8px;
}
.header .navbar a:hover i {
    color: #353535;
}
.header-slider {
    position: relative;
    width: 100%;
}
.header-slider .header-slider-item {
    position: relative;
}
.header-slider .header-slider-caption {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3fb9f1b3;
    opacity: 1;
    transition: all 0.3s;
    z-index: 1;
}
.header-slider .header-slider-caption p {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: light yellow;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
